<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
	<title>Диагностический центр DCenter</title>
</head>
<body>
{% block content -%}
	{%- block mainmenu -%}
	{% if status -%}
<ul class="mainmenu">
	<li><a href="/">О нас</a></li>
	<li><a href="/prices">Услуги и цены</a></li>
	<li><a href="/doctors">Специалисты</a></li>
	<li><a href="/appointment">Запись на приём</a></li>
	<li><a href="/login">Авторизация</a></li>
</ul>
	{% else -%}
<ul class="mainmenu">
	<li><a href="/">О нас</a></li>
	<li><a href="/prices">Услуги и цены</a></li>
	<li><a href="/doctors">Специалисты</a></li>
	<li><a href="/appointment">Запись на приём</a></li>
	<li><a href="/profile">Профиль</a></li>
</ul>
	{% endif -%}
	{% endblock mainmenu -%}
<div class="content">
	{% if title -%}
<h2 class="title">{{title}}</h2>
	{% else -%}
<h2 class="title">Диагностический центр DCenter</h2>
	{% endif -%}
{% endblock -%}
</div>
</body>
</html>