{% extends 'base.html' %}
{% block content %}
{{ super() }}
      <div class="about">
          <p>Диагностический центр – это сочетание ряда преимуществ, которые позволяют обеспечить высококвалифицированную медицинскую помощь.</p>
              <p>Во всем, что касается Вашего здоровья, - медицинский персонал, оснащение, технологии, сервис – мы ориентируемся на лучшее.</p>
            <p>У нас работают высококвалифицированные специалисты  преимущественно высшей категории, а также кандидаты медицинских наук,</p>
               <p> имеющие богатую лечебную практику, владеющие передовыми медицинскими методами и технологиями диагностики,</p>
              <p>  лечения и профилактики широкого спектра заболеваний и постоянно повышающие свою квалификацию.</p>
            <p>В наших Центрах современная лечебно-диагностическая база.</p>
            <p>Технологическое оснащение и накопленный клинический опыт позволяют проводить большинство малоинвазивных обследований в наших Центрах амбулаторно.</p>
            <p>У нас комплексный подход к решению диагностических и лечебных задач.</p>
            <p>Наши пациенты могут воспользоваться комплексными программами, которые включают в себя пакеты специализированных услуг </p>
            <p>для получения наиболее эффективного медицинского обслуживания по целому ряду направлений.</p>
            <p>Прием в Центрах ведется по записи, поэтому Вы можете выбрать для посещения любое удобное время, и Вам не придется тратить его на ожидание в очередях.</p>
            <p>Доброжелательные и компетентные администраторы готовы ответить на все Ваши вопросы, касающиеся обслуживания в наших Центрах,</p>
            <p>подобрать для Вас удобное время посещения и оказать все необходимое содействие.</p>
          </div>
<div class="addresses"><b>Наши диагностические центры расположенны по адресам:</b>
        {% for address in addresses %}
    <li>{{address.name}}</li>
        {% endfor %}
    </div>
    </body>
{% endblock %}