{% extends 'base.html' %}


{% block title %}
  <h2 class="title">
    О нас
  </h2>
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="about">
    <div class="image-block">
      <img src="{{ url_for('static', filename='main-photo.jpg') }}" class="main-photo">
    </div>
    <div class="info">
      Диагностический центр – это сочетание ряда преимуществ, которые позволяют обеспечить высококвалифицированную медицинскую помощь.
      У нас работают высококвалифицированные специалисты  преимущественно высшей категории, а также кандидаты медицинских наук,
      имеющие богатую лечебную практику, владеющие передовыми медицинскими методами и технологиями диагностики,
      лечения и профилактики широкого спектра заболеваний и постоянно повышающие свою квалификацию.
      В наших Центрах современная лечебно-диагностическая база.
      Технологическое оснащение и накопленный клинический опыт позволяют проводить большинство малоинвазивных обследований в наших Центрах амбулаторно.
      У нас комплексный подход к решению диагностических и лечебных задач.
      Наши пациенты могут воспользоваться комплексными программами, которые включают в себя пакеты специализированных услуг
      для получения наиболее эффективного медицинского обслуживания по целому ряду направлений.
      Прием в Центрах ведется по записи, поэтому Вы можете выбрать для посещения любое удобное время, и Вам не придется тратить его на ожидание в очередях.
    </div>
    <div class="clinics">
      <b>Наши диагностические центры расположенны по адресам:</b>
      <ul>
        {% for clinic in clinics %}
          <li>{{clinic.address}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}